<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="{% static 'dashboard/css/style.css' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.0/mdb.min.css" rel="stylesheet" />
</head>
<body>

    <header>
        <nav>
            <div class="div div-1" style="margin-bottom: 20px;">
              <h2 style="padding-bottom: 20px;">SymDa</h2>
            </div>
            <div class="div div-2" style="margin-top: 7px;">
              <a href="{% url 'index' %}">
                <div class="inner-div">Home </div>
              </a>
              <a href="{% url 'posts' %}">
                <div class="inner-div">Forum</div>
              </a>
      
              {% if user.is_authenticated %}
                      <a href="{% url 'create-post' %}"><div class="inner-div">Create Post</div></a>
              {% endif %}
            </div>
            <div class="div div-3" style="margin-top: 7px; display:flex">
              {% if user.is_authenticated %}
              <a href="{% url 'user-logout' %}">
                <div class="inner-div">LogOut</div>
              </a>
      
              <a href="{% url 'profile' %}"><div class="inner-div">
                Profile
              </div></a>
              {% else %}
              <a href="{% url 'user-login' %}">
                <div class="inner-div">SignIn</div>
              </a>
              {% endif %}
              <div class="inner-div"></div>
            </div>
          </nav>


          <div>
            <section class="vh-100" style="background-color: #011b1d; ">
                <div class="container py-5 h-100">
                  <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col col-lg-6 mb-4 mb-lg-0">
                      <div class="card mb-3" style="border-radius: .5rem;">
                        <div class="row g-0">
                          <div class="col-md-4 gradient-custom text-center text-white"
                            style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                              alt="Avatar" class="img-fluid my-5" style="width: 80px;" />

                              <form action="" method="POST">
                                {% csrf_token %}
                            <input style="color: #011b1d; width:150px" name="first_name" value={{user.first_name}}>         
                            <input style="color: #011b1d; width:150px; margin-top:10px; margin-left:20px" name="username" value={{user.username}}>
                            <i class="far fa-edit mb-5"></i>
                          </div>
                          <div class="col-md-8">
                            <div class="card-body p-4" style="color: #011b1d;">
                              <h6>Information</h6>
                              <hr class="mt-0 mb-4">
                              <div class="row pt-1">
                                <div class="col-6 mb-3" style="margin:10px">
                                  <h6 style="color: #011b1d;">Email</h6>
                                  <input class="text-muted" name="email" style="width:300px"  value= {{user.email}}>
                                </div>
                                <div class="col-6 mb-3" style="margin:10px">
                                  <h6>Phone</h6>
                                  <input class="text-muted" style="width:300px" name="phone" value= {{user.phone}}>

                                  <input class="text-muted" type="submit" style="width:300px; margin-top: 10px; color: #011b1d;" value="submit">
                                </div>

                              </form>

                              <form action="{% url 'change-password' %}" method="POST">
                                {% csrf_token %}
                              <div class="form-outline" style="margin:10px">
                                <input type="password" name="current_password" style="border: 2px solid #011b1d; width: 300px;" id="typeText" class="form-control" />
                                <label class="form-label" style="color: #011b1d; padding:5px;" for="typeText">Current Password</label>
                              </div>

                              <div class="form-outline" style="margin-top: 10px;margin:10px">
                                <input type="password" name="new_password" style="border: 2px solid #011b1d;width: 300px;" id="typeText" class="form-control" />
                                <label class="form-label" style="color: #011b1d; padding:5px;" for="typeText">New Password</label>
                              </div>

                              <input class="text-muted" type="submit" style="width:300px; margin-top: 10px; margin-left: 10px ;color: #011b1d;" value="Change Password">

                            </form>
                              </div>
                            
                             
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
          </div>

    </header>


              <!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted" style="margin-top: 20px;">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span>Get connected with us on social networks:</span>
      </div>
      <!-- Left -->
  
      <!-- Right -->
      <div>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-google"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-github"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i>Company name
            </h6>
            <p>
              SymDa is a leading provider of precision data analytics solutions, specializing in helping businesses unlock valuable insights and make informed decisions. With our team of experienced data scientists and analysts, we deliver customized analytics and reporting projects with accuracy and precision.
  
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Products
            </h6>
            <p>
              <a href="#!" class="text-reset">Data Exploration and Analysis Tool</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Predictive Analytics Platform</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Real-Time Data Monitoring System</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Customer Segmentation and Profiling Tool</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Useful links
            </h6>
            <p>
              <a href="#!" class="text-reset">Pricing</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Settings</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Orders</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Help</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
            <p><i class="fas fa-home me-3"></i> New York, NY 10012, US</p>
            <p>
              <i class="fas fa-envelope me-3"></i>
              info@example.com
            </p>
            <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
            <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2023 Copyright:
      <a class="text-reset fw-bold" >SymDa.com</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
    </section>
</body>
</html>